{% extends 'index.html' %}
{% load static %}

{% block container %}

    {% if servers_context %}
        <h2>Latest Status</h2>
        <div id="actionAlert"></div>
        <table>
        <tr>
            <th>Owner</th>
            <th>Server</th>
            <th>Expired</th>
        </tr>
        {% for server in servers_context %}
            <tr>
                <td>{{ server.owner }}</td>
                <td>{{ server.name }}</td>
                <td>
                    {% if server.expired_inbounds == "EMPTY" %}
                        All users are enable
                    {% elif server.expired_inbounds == "ERROR" %}
                        Can't connect to server
                    {% else %}
                        {% for inbound in server.expired_inbounds %}
                            <a href="#" style="text-underline-offset: 2px"
                               class="expired-inbound font-weight-bold"
                               data-remark="{{ inbound.remaining_status }}"
                               data-id="{{ inbound.id }}" ,
                               data-server="{{ server.name }}"
                               data-toggle="modal" data-target="#inboundModal">
                                {{ inbound.remaining_status }}
                            </a>,
                        {% endfor %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h1>Ready to Check...</h1>
    {% endif %}

</table>

    <div class="modal fade" id="inboundModal" tabindex="-1" aria-labelledby="inboundModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title fs-5" id="inboundModalLabel"></h4>
                </div>
                <div class="modal-body" align="center">
                    <h5 id="inboundDetails"></h5>
                    <label for="trafficInput">Traffic:</label>
                    <input type="number" id="trafficInput" name="trafficInput" value="0" style="width: 75px">
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" id="inboundDelBtn" data-bs-dismiss="modal">
                        Delete Inbound
                    </button>
                    <button type="button" class="btn btn-success" id="inboundRenBtn" data-bs-dismiss="modal">
                        Renew Inbound
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="button primary-button" onclick="location.href='{% url 'check_status' %}{{ '?start=true' }}'">
            Check
        </button>
        <button class="button dead-button" onclick="location.href='{% url 'dashboard' %}'">
            Back
        </button>
    </div>

    <script>
        const alertPlaceholder = document.getElementById('actionAlert');
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div');
            wrapper.innerHTML = `<div class="alert alert-${type} alert-dismissible" role="alert">${message}</div>`;
            alertPlaceholder.append(wrapper);

            let opacity = 1;
            const interval = setInterval(() => {
                opacity -= 0.035;
                wrapper.style.opacity = opacity;
                if (opacity <= 0) {
                    clearInterval(interval);
                    wrapper.remove();
                }
            }, 100);
        };


        $(function () {
            $(".expired-inbound").on("click", function () {
                let server = $(this).data("server")
                let remark = $(this).data("remark")
                let id = $(this).data("id")
                $("#inboundModalLabel").text(remark);

                $("#inboundRenBtn").off('click').on("click", function () {
                    renewInbound(server, id)
                });
                $("#inboundDelBtn").off('click').on("click", function () {
                    deleteInbound(server, id)
                });

            });
        });

        function renewInbound(server, id) {
            let traffic = document.getElementById("trafficInput").value
            $("#inboundModal").modal("hide");

            $.ajax({
                url: '/check-status/renew-inbound/',
                type: 'POST',
                data: {
                    'server': server,
                    'id': id,
                    'traffic': traffic,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (response) {
                    appendAlert(response.message, "success")
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });

            //$("a[data-server='" + server + "'][data-id='" + id + "']").remove();
        }

        function deleteInbound(server, id) {
            $("#inboundModal").modal("hide");

            $.ajax({
                url: '/check-status/delete-inbound/',
                type: 'POST',
                data: {
                    'server': server,
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (response) {
                    appendAlert(response.message, "success")
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });

            //$("a[data-server='" + server + "'][data-id='" + id + "']").remove();
        }
    </script>
{% endblock container %}
